
<%= form_for(@estudio, :remote=>true) do |f| %>
  <% if @estudio.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar el estudio debido a <%= pluralize(@estudio.errors.count, "error", "errores") %>:</h2>

      <ul>
      <% @estudio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :arancel %><br />
    <%= f.text_field :arancel %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
