<h1>Listing estudios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Arancel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estudios.each do |estudio| %>
  <tr>
    <td><%= estudio.nombre %></td>
    <td><%= estudio.arancel %></td>
    <td><%= link_to 'Show', estudio %></td>
    <td><%= link_to 'Edit', edit_estudio_path(estudio) %></td>
    <td><%= link_to 'Destroy', estudio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estudio', new_estudio_path %>
