<% content_for :content do %>
	<table cellspacing="0" style="height:100%">
		<tr>
			<td id="admin_menu">
				<ul id="admin_menu_items">
					<li><%= link_to 'Estudios', estudios_path %></li>
					<li><%= link_to 'Análisis', analisis_index_path %></li>
					<li><%= link_to 'Datos Medicos', datos_medicos_path %></li>
					<li><%= link_to 'Encabezado y Pie', encabezado_y_pie_path %></li>			
				</ul>		
			</td>
			<td id="admin_content">
				<%= yield %>				
			</td>
		</tr>
	</table>  
<% end %> 
<%= render :file => 'layouts/application' %> 